h1{
    color: red;
}
img{
    width: 400px;
   
}
#thirdDiv{
    background-color: blueviolet;
    height: 600px;
    width: 500px;
    padding: 50px;
    border: solid rgb(227, 220, 20) 5px;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}